# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-south-1
S3_BUCKET_NAME=your_bucket_name

# Server Configuration
PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/uploadsDB

# Storage Strategy: "s3" or "local" (default: "s3")
STORAGE_TYPE=s3
